.movie-card {
    margin: 0;
    width: 360px;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-style: normal;
    color: #FFFFFF;
    position: relative;
}

.movie-card__image {
    width: 360px;
    height: 201px;
    position: relative;
    border-radius: 6px;
}

.movie-card__like {
    position: absolute;
    width: 72px;
    padding: 6px 7px;
    top: 14px;
    right: 14px;
    font-weight: 400px;
    font-size: 10px;
    line-height: 0.9;
    color: #FFFFFF;
    background-color: #313131;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: none;
}
.movie-card__like:hover {
    display: block;
}
.movie-card__like_hiden {
    visibility: hidden;
}

.movie-card__image:hover ~ .movie-card__like {
    display: block;
}

.movie-card__like-container {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 14px;
    right: 14px;
    background: #EE3465;
    border-radius: 30px;
    border: none;
}
.movie-card__like-container_hiden {
    visibility: hidden;
}

.movie-card__like-active {
    position: relative;
    top: -2px;
    left: 0;
    width: 9px;
}

.movie-card__delete {
    position: absolute;
    padding: 5px;
    top: 19px;
    right: 19px;
    background-color: #313131;
    border-radius: 30px;
    cursor: pointer;
    display: none;
}
.movie-card__delete:hover {
    display: block;
}

.movie-card__image:hover ~ .movie-card__delete {
    display: block;
}

.movie-card__description {
    display: flex;
    justify-content: space-between;
    padding: 14px 14px 0 14px;
}

.movie-card__name {
    margin: 0;
    padding: 0;
    width: 250px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
}

.movie-card__duration {
    margin: 0;
    height: 18px;
    min-width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 0.91;
    color: #8B8B8B;
    background-color: #2F2F2F;
    border-radius: 3px;
}

@media screen and (max-width: 1180px) {
    .movie-card {
        width: 339px;
    }
    .movie-card__image {
        width: 339px;
        height: 190px;
    }
    .movie-card__description {
        padding: 25px 0 0 0;
    }
}

@media screen and (max-width: 740px) {
    .movie-card {
        width: 300px;
    }
    .movie-card__image {
        width: 300px;
        height: 168px;
    }
    .movie-card__description {
        display: flex;
        justify-content: space-between;
        padding: 16px 0 0 0;
    }
    .movie-card__name {
        width: 240px;
        font-size: 12px;
        line-height: 1.25;
    }
}