.movie {
  width: 100%;
  max-width: 360px;
  padding: 0 0 12px;
  position: relative;
  color: #FFFFFF;
}

.movie__image {
  width: 100%;
  min-height: 201px;
  max-height: 201px;
  margin: 0 0 14px;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.movie__text-container {
  width: 100%;
  padding: 0 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.movie__title {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  max-width: 250px;
}

.movie__duration {
  padding: 3px 4px;
  box-sizing: border-box;
  width: 52px;
  height: 18px;
  color: #8B8B8B;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  background: #2F2F2F;
  border-radius: 3px;
}

.movie__save-button {
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;
  border: none;
  border-radius: 30px;
  transition: transform .25s ease-in-out;
  cursor: pointer;
  padding: 6px 7px;
  box-sizing: border-box;
  background: #F4F4F4;
  font-size: 10px;
  line-height: 9px;
  width: 72px;
  visibility: hidden;
}

.movie__save-button:hover {
  box-shadow: #3456F3 0 0 1px 1px;
  transform: scale(1.1);
  transition: transform .25s ease-in-out;
}

.movie:hover .movie__save-button {
  visibility: visible;
}

.movie__saved-icon {
  width: 30px;
  height: 30px;
  background: #EE3465 url(../../images/saved-icon.png) no-repeat center;
  visibility: visible;
}

.movie:hover .movie__saved-icon {
  width: 30px;
  height: 30px;
  background: #F4F4F4 url(../../images/remove-icon.png) no-repeat center;
}

@media screen and (max-width: 768px) {
  .movie__image {
    min-height: 190px;
    max-height: 190px;
  }
}

@media screen and (max-width: 640px) {
  .movie__image {
    min-height: 168px;
    max-height: 168px;
    margin-bottom: 16px;
  }
  .movie__text-container {
    padding: 0;
  }
  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }
}
