.next {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.next__button {
    margin: 50px auto 80px auto;
    width: 320px;
    height: 36px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #202020;;
    border: 1px solid #424242;
    border-radius: 7px;
    cursor: pointer;
}
.next__button:hover {
    border: 1px solid #FFFFFF;
}
.next__button:active {
opacity: 0.3;
}

@media screen and (max-width: 400px) {
    .next__button {
        width: 240px;
    }
}