.page-not-found {
    margin: 0 auto;
    padding: 246px 0 60px 0;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-style: normal;
    color: #FFFFFF;
    background-color: #202020;
}

.page-not-found__title {
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page-not-found__description {
    margin: 8px auto 184px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
}

.page-not-found__back {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #4285F4;
    cursor: pointer;
}

.page-not-found__back:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.page-not-found__back:focus {
    color: #2c569b;
}