.movie-block {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  font-family: inherit;
  font-style: normal;
  letter-spacing: -0.04em;
  color: #2F2F2F;
  display: block;
}

.movie-block__container {
  margin: 70px 70px 28px 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

/*

  @media screen and (max-width: 940px) {
  .elements {
    max-width: 582px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 620px) {
    .elements {
    max-width: 320px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    }
  }
*/