.header {
  background-color: #073042;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px 70px;

}
.header_black {
  background-color: #202020;
}

.header__logo {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 38px;
}
.header__logo:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

@media screen and (max-width: 523px) {
  .header {
    padding: 18px 14px;
  }
  .header__signup {
    margin-right: 14px;
  }
  .header__auth-container {
    font-size: 10px;
    line-height: 16px;
  }
  .header__movie-container {
    font-size: 10px;
    line-height: 16px;
  }
  .header__button {
    width: 54px;
    height: 26px;
  }
  .header__signup {
    margin-right: 14px;
  }
  .menu__box {
    width: 100%;
    padding: 144px 10px 48px;
  }
  .menu__btn {
    top: 13px;
    right: 13px;
  }
}
