.filter-checkbox {
    max-width: 1280px;
    margin: 0 auto 10px auto;
}

.filter-checkbox__container {
    margin: 0 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-style: normal;
    letter-spacing: -0.04em;
}

.filter-checkbox__toggle {
    position: relative;
    display: flex;
    width: 37px;
    height: 20px;
}

.filter-checkbox__input {
    display: none;
}

.filter-checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-color: #3DDC84;
    transition: .4s;
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.filter-checkbox__slider:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    bottom: 2px;
    left: 19px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: .4s;
}

.filter-checkbox__input:checked + .filter-checkbox__slider {
    background-color: #CCCCCC;
}
.filter-checkbox__input:checked + .filter-checkbox__slider:after {
    transform: translateX(-17px);
}

.filter-checkbox__text {
    margin: 0 0 0 12px;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.29;    
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .filter-checkbox__container {
        margin: 0 30px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 400px) {
    .filter-checkbox__container {
        margin: 0 14px;
        padding-bottom: 50px;
    }
    .filter-checkbox__text {
        font-size: 11px;
        line-height: 1.64;    
    }
}
