.register{
  padding: 70px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register__form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 396px;
}

.register__header {
  position: relative;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin: 40px 0 16px;
}

@media screen and (max-width: 999px) {
  .register {
    padding: 232px 0;
  }
  .login__header {
    margin: 40px 0 16px;
  }
}

@media screen and (max-width: 442px) {
  .register {
    padding: 58px 30px 30px;
    justify-content: center;
    text-align: center;
  }
  .register__form {
    max-width: 260px;
    align-self: center;
  }
  .register__header {
    margin: 50px 0 80px;
    align-self: center;
    font-size: 24px;
    line-height: 29px;
  }
}
