.login {
  padding: 70px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login__form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 396px;
}

.login__logo {
  width: 38px;
}

.login__header {
  position: relative;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin: 40px 0 16px;
}

.login__input_height {
  margin-bottom: 72px;
}

@media screen and (max-width: 999px) {
  .login {
    padding: 232px 0;
  }
  .login__header {
    margin: 40px 0 16px;
  }
}

@media screen and (max-width: 442px) {
  .login {
    padding: 58px 30px 30px;
    justify-content: center;
    text-align: center;
  }
  .login__form {
    max-width: 260px;
    align-self: center;
  }
  .login__logo {
    align-self: center;
  }
  .login__header {
    margin: 50px 0 80px;
    align-self: center;
    font-size: 24px;
    line-height: 29px;
  }
}
