.not-found-page {
  padding: 246px 0 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.not-found-page__header {
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  margin: 0 0 5px 0;
}
.not-found-page__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 184px 0;
}
.not-found-page__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3456f3;
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 999px) {
  .not-found-page {
    padding: 408px 0 222px;
  }
}

@media screen and (max-width: 523px) {
  .not-found-page {
    padding: 329px 0 354px;
  }
  .not-found-page__header {
    font-size: 80px;
    line-height: 97px;
    margin: 0 0 10px 0;
  }
  .not-found-page__text {
    font-size: 12px;
    line-height: 15px;
  }
  .not-found-page__link {
    font-size: 12px;
    line-height: 15px;
  }
}
